{% extends 'base.html' %}

{% block title %}All Professionals{% endblock %}

{% block style %}

<style>
    table, th, td {
      border:1px solid black;
      text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<div style="padding: 14px; background-color: #F5F4B3;">
	<h1>Welcome to Admin Panel</h1>
</div>
<div style="padding: 10px; margin: 25px;">
	<a href="/admin/user"><b>Access all the Database</b></a>
	<br><br>
	<form action="/add_service", method="post">
		<label for="service"><h6>Add a serivce: </h6></label>
		<input type="text" name="service">
		<input type="submit" value="Add">
	</form>
</div>

<div style="padding: 10px; margin: 25px;"><h5>All Services currently available: </h5></div>
<div style="width: 400px; height: 150px; overflow: auto; background-color: lightblue; padding: 10px; margin: 25px;">
	
	{% for service in ServiceList %}
	<form action="/admin/delete_service" method="post">
	<input type="radio" name="service" value="{{service}}">
	<label for="service">{{service}}</label>
	<br>
	{% endfor %}
	
	
</div>
<div style="position: absolute; left: 450px; top: 380px">
	<input type="submit" value="Delete">
</div>
</form>

<div class="container-fluid" style="width: 50%; max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 25px; background-color: #F3FEB8;">
{% if pros %}
<h5>All Professionals: </h5>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Business Name</th>
		<th>Total Orders Processed</th>
		<th>Status</th>
		<th>Document</th>
		<th>Action</th>	
		<th>Generate Service Report</th>	
	</tr>
	{% for pro in pros %}
	<tr>
		<td>{{pro.id}}</td>
		<td>{{pro.user.name}}</td>
		<td>{{pro.business_name}}</td>
		<td>{{ pro.orders | length }}</td>
		<td>{{pro.status}}</td>
		<td><a href="{{ url_for('static', filename=pro.doc) }}">Document</a></td>
		
		<td>
			{% if pro.status == "review" %}
			<form method="post" action="/admin/activate_pro">
				<input type="hidden" name="field1" value="active">
				<input type="hidden" name="pro_id" value="{{pro.id}}">
				<input type="submit" name="b_value" value="Approve">
				<input type="submit" name="b_value" value="Disapprove">
			</form>
			{% endif %}
		</td>
		<td>
		    {% if pro.status != "review" %}
		        <button onclick="generateReport({{ pro.id }})">Generate</button>
		    {% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
</div>
<br>

<div class="container-fluid" style="width: 50%; max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 25px; background-color: #F3FBC9;">
	{% if users %}
<h5>All Users: </h5>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Role</th>
		<th>Total Order Placed</th>		
		<th>Status</th>		
	</tr>
	{% for user in users %}
	<tr>
		<td>{{user.id}}</td>
		<td>{{user.name}}</td>
		<td>{{user.role}}</td>
		<td>{{ user.orders | length}}</td>
		<td>{{user.status}}</td>		
	</tr>
	{% endfor %}
</table>
{% endif %}
</div>
<br>
<div>
	<div class="container-fluid" style="width: 50%; max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 25px; background-color: #F3FBC9;">
		{% if notClosedOrders %}
	<h5>Not Closed Orders: </h5>
	<table>
		<tr>
			<th>Order ID</th>
			<th>Booking Date</th>
			<th>Service</th>
			<th>Customer's Name</th>		
			<th>Professional's Name</th>		
		</tr>
		{% for order in notClosedOrders %}
		<tr>
			<td>{{order.order_id}}</td>
			<td>{{ order.booked_at}}</td>
			<td>{{order.service}}</td>		
			<td>{{order.user.name}}</td>
			<td>{{order.professional.business_name}}</td>
			
			
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	</div>
	<br>
</div>

<script>
        function generateReport(proId) {
        alert("Generating report for Professional ID: " + proId);
        // You can add additional logic here to send an AJAX request or perform any action
        fetch('/gcr', {
            method: 'POST',  // Sending data to the server
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ pro_id: proId })  // Send pro.id as JSON
        })
        .then(response => response.json())  // Assuming Flask returns JSON response
        .then(data => {
            alert("Response from server: " + data.message);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>


{% endblock %}
