{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div style="position: absolute; left: 50%; transform: translateX(-50%);">
    <div>
        <h3>Welcome to <u>A to Z HouseHold Services</u></h3>
    </div> <!-- <h4><a href="{{ url_for('main.reg_professional') }}">Register as Professional</a></h4> -->
    <div style="position: relative; left: 50%; transform: translateX(-50%);">
        <form method="post" action="/login">
            <div>
                <label for="username">Username: </label>
                <input type="text" name="username"> <br>
                <label for="password">Password: </label>
                <input type="password" name="password"> <br>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
<a href="{{url_for('main.register')}}">Create a New Account</a>
{% endblock %}
  