{% extends "base.html" %}

{% block title %}Professionals' Registration{% endblock %} 

{% block content %}
<div>
    <h3>Welcome to <u>A to Z HouseHold Services</u></h3>
</div>

<div>
    <h5>New Professional's Registration by {{current_user.username}}</h5>
</div>

<form method="POST" action="/reg_professional" enctype="multipart/form-data">
    
    <div>
        <label for="b_name"><h5>Name of Enterprise: </h5> </label>
        <input type="text" name="b_name" ><br >
    </div>
    
    <div>
        <label for="exp"><h5>Year of Experience:</h5> </label>
        <input type="number" name="exp"><br>
    </div>
    
    <div>
        <h5>Services:</h5>
        {% for item in ServiceList %}

        <div >
        <label for="service"><h6>{{item}}:</h6> </label>
        <input type="checkbox" name="service" value="{{item}}" > 
        <input type="number" name="price_{{item}}" placeholder="Price" >
        <input type="text" name="description_{{item}}" placeholder="Description">
        </div>
        {% endfor %}<br >
    </div>
    
    <div>
        <label for="file"><h5>Upload Document(pdf):</h5> </label>
        <input type="file" name="file" required ><br>
    </div>
    
    <div>
        <label for="address"><h5>Address:</h5> </label>
        <textarea name="address" rows="5" cols="33"></textarea><br>
    </div>
    
    <div>
        <label for="pin"><h5>PIN Code:</h5> </label>
        <input type="text" name="pin" ><br >
    </div>
  
    <div>
        <input type="submit" value="Register">
    </div>
</form>
<a href="{{url_for('main.dashboard')}}">Go to Dashboard</a>

<br><br>

{% endblock %}
